$spacer: 0.0625rem;

// breakpoint
$grid-breakpoints: (
  '': 0,
  xs: 414px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px
) !default;

// breakpoint
$container-max-widths: (
  xs: 100%,
  sm: 100%,
  md: 100%,
  lg: 1170px,
  xl: 1340px
) !default;

$grid-gutter-width: 1.25rem !default;
$container-padding-x: $grid-gutter-width !default;

//
$display: $spacer * 38; //38px
$h1: $spacer * 32; //32px
$h2: $spacer * 28; //28px
$h3: $spacer * 20; //20px
$h4: $spacer * 18; //18px
$h5: $spacer * 16; //16px
$h6: $spacer * 14; //14px
$h1-m: $spacer * 28; //28px
$h2-m: $spacer * 24; //24px
$h3-m: $spacer * 20; //20px
$h4-m: $spacer * 18; //18px
$h5-m: $spacer * 16; //16px
$h6-m: $spacer * 14; //14px

$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

// custom * line-height
$line-height-md: 1.75;
$line-height-xl: 1.85;
$line-height-xxl: 2.2;

$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;

// color
$white: #ffffff;
$dark: #172728;
$black: #000000;

$primary: #26c6d0;
$surface: #ee6c8a;
$highlight: #ffbc58;

$lighterBlue: #4ee5ea;
$blueGreen: #26d0a8;
$purple: #585880;
